@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: theme("colors.slate.100");
}

.animate-slidedown {
  animation: 1s cubic-bezier(0, 1.12, 0.38, 0.94) forwards slideDown;
}

@keyframes slideDown {
  0% {
    opacity: 0;
    transform: translateY(-30%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}

.animate-slideup {
  animation: 1s cubic-bezier(0, 1.12, 0.38, 0.94) forwards slideUp;
}

@keyframes slideUp {
  0% {
    opacity: 0;
    transform: translateY(40%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}
